@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-family-poppins: var(--font-Poppins);
  --font-family-josefin: var(--font-Josefin);

  --breakpoint-400px: 400px;
  --breakpoint-800px: 800px;
  --breakpoint-1000px: 1000px;
  --breakpoint-1100px: 1100px;
  --breakpoint-1200px: 1200px;
  --breakpoint-1300px: 1300px;
  --breakpoint-1500px: 1500px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.hero_animation {
  background-image: linear-gradient(147.92deg, hsla(239, 76%, 53%, 0.456) 10.41%, hsla(0, 0%, 100%, 0) 89.25%);
  animation: changeBackgroundColor 8s infinite alternate;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

@keyframes changeBackgroundColor {
  0%, 100% {
    opacity: 1;
  }
  16.67% {
    opacity: 0.9;
  }
  33.33% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  66.67% {
    opacity: 0.5;
  }
  83.33% {
    opacity: 0.4;
  }
}

/* Shake Animation for invalid OTP */
@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-2px); }
  40% { transform: translateX(2px); }
  60% { transform: translateX(-2px); }
  80% { transform: translateX(2px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s ease-in-out;
  border-color: red !important;
}